.card {
  margin-top: 30px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card__item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  list-style-type: none;
  width: 282px;
}

.card__image {
  height: 282px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 282px;
  background-color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  padding: 2px 20px 2px 20px;
  margin: 0;
}

.card__title {
  font-weight: 900;
  line-height: 29px;
  white-space: nowrap;
  color: black;
}

.card__like-button {
  background: center transparent url(../images/Vector-inactive.svg) no-repeat;
  background-size: contain;
  width: 21px;
  height: 18px;
  border: 0;
  transition: background-color 0.5s;
  cursor: pointer;
}

.card__like-button:hover {
  background: center transparent url(../images/Vector-active.svg) no-repeat;
  background-color: rgb(174, 47, 47);
}
