.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card__item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  list-style-type: none;
  width: 282px;
}

.card__image {
  height: 282px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 282px;
  background-color: white;
  padding: 25px 20px 25px 20px;
  margin: 0;
}

.card__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 219px;
  color: black;
  margin: 0;
}

.card__like-button {
  background: center transparent url(../images/Vector-inactive.svg) no-repeat;
  background-size: contain;
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity 0.5s;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 50%;
}
