.footer {
  display: flex;
  justify-content: flex-start;
}

.footer__copyright {
  padding: 67px 0 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 905px) {
  .footer__copyright {
    padding-left: 19px;
  }
}

@media screen and (max-width: 580px) {
  .footer__copyright {
    font-size: 14px;
  }
}
