.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  margin: auto;
  padding: 34px 36px 36px;
  background-color: #fff;
  border-radius: 10px;
  width: 430px;
  box-sizing: border-box;
}

.modal__close-button {
  position: absolute;
  background: url(../images/close_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  transition: opacity 0.5s;
}

.modal__close-button:hover {
  opacity: 60%;
}

.modal__heading {
  width: 330px;
  height: 23px;
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  padding: 0 64px 54px 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.modal__input {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  margin-bottom: 29px;
  text-align: left;
}

.modal__submit-button {
  background-color: black;
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  transition: opacity 0.5s;
}

.modal__submit-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px 22px 22px;
  }

  .modal__close-button {
    top: -36px;
    right: 0;
    max-width: 26px;
    height: 26px;
  }

  .modal__heading {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0 0 75px;
  }

  .modal__input {
    margin-bottom: 30px;
  }

  .modal__form {
    padding: 0;
  }

  .modal__submit-button {
    color: white;
    background-color: black;
    width: 100%;
    height: 46px;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 17px;
  }
}
