.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: center;
  margin: auto;
  padding: 36px;
  background-color: white;
  border-radius: 10px;
  max-width: 430px;
  height: 330px;
  top: 195px;
  left: 425px;
  border-radius: 10px;
}

.modal_close {
  background-image: url(../images/close.svg);
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
}

.modal__heading {
  max-width: 330px;
  height: 23px;
  top: 229px;
  left: 461px;
  padding: 34 64 54 36;
  color: #000000;
  letter-spacing: 0%;
  font-size: 24px;
  font-weight: 900;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

.modal__button {
  color: white;
  background-color: black;
  width: 358px;
  height: 50.15px;
  top: 438.34px;
  left: 461px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0;
  margin: 0;
}
